<footer class="app-footer position-relative">
    <div class="container">
        <div class="container">
            <img src="./assets/img/Logo-blanco.webp" alt="Logo footer fundación puntos verdes" class="app-footer__logo" title="Logo footer fundación puntos verdes">
        </div>
        <div class="container">
            <ul class="d-flex navbar-nav--footer p-0" *ngFor="let item of items">
                <li class="nav-item" *ngFor="let option of item.items">
                    <a class="nav-link app-link" [href]="option.url">{{ option.label }}</a>
                </li>
            </ul>
        </div>
        <div class="app-footer__copyright">
            <p>Copyright © {{year}}. All Rights Reserved | Powered by RGIT - Adriana B</p>
        </div>
    </div>
</footer>
