<div class="container foundation-profile">

    <div class="container">
        <img src="./assets/img/img-profile.svg" class="foundation-profile__img">
        <!-- <button class="container btn">Cambiar foto de perfil</button> -->
    </div>

    <div class="container mt-5">
        <h2 class="colorGreen">Tienes:</h2>
        <h3 class="grayBold">{{ userService.newUserPoints | thousandsPipe }} PUNTOS VERDES</h3>
        <p>Vencen: <span class="deadlinePoints">{{ fechaVencimiento }}</span></p>
        <button routerLink="foundations" class="btn bgGreen" >Quiero donar mis puntos</button>
    </div>

    <div class="container mt-5">
        <ul class="list-group" *ngFor="let item of items">
            <li class="list-group-item list-group-item--profile" *ngFor="let option of item.items" routerLinkActive="list-group-item__active">
                <img [src]="option.img">
                <a routerLink="{{ option.routerLink}}">{{ option.label }}</a>
            </li>
            <li class="list-group-item list-group-item--profile">
                <img src="./assets/img/icon-logout.svg">
                <a href="javascript:void(0);" (click)="onLogout()">Cerrar sesión</a>
            </li>
        </ul>
    </div>
</div>
