<div class="app-login">
    <div class="app-login__col">
        <h1 class="app-login__title">Inicia sesión y <br><span>únete al cambio</span></h1>
        <p class="app-login__sub">Empresas como la tuya contribuyen a la ayuda de muchas causas sociales en Colombia. ¡Gracias! </p>
    </div>
    <div class="app-login__col">
        <div class="app-login--form blur" *ngIf="!sendPoints && !forgetPassword">
            <h2 class="pt-4 pb-3">Bienvenido</h2>
            <form [formGroup]="loginForm" (ngSubmit)="onLogin()">
                <div class="input-group mb-3">
                    <div class="input-group-prepend">
                        <span class="input-group-text" id="emailIcon"><img src="./assets/img/icon-user.svg"></span>
                    </div>
                    <input
                        type="text"
                        formControlName="email"
                        class="form-control"
                        placeholder="Usuario"
                    />
                </div>
                <div class="input-group mb-3">
                    <div class="input-group-prepend">
                        <span class="input-group-text" id="passwordIcon"><img src="./assets/img/icon-password.svg"></span>
                    </div>
                    <input
                        type="password"
                        formControlName="password"
                        class="form-control"
                        placeholder="Contraseña"
                    />
                </div>
                <button type="submit" class="btn btn-block bgGreen app-login--submit" style="width: 100%">Ingresar</button>
                <div class="form-group mt-3 form-check">
                    <div class="row">
                        <div class="col">
                            <a routerLink="/forget-password" class="white-link">Olvidé mi contraseña</a>
                        </div>
                    </div>
                </div>
            </form>
        </div>
        <p *ngIf="!sendPoints && !forgetPassword" class="mt-2 mb-0 text-center">
            ¿No tienes una cuenta?
            <a routerLink="/register" class="white-link white-link--border">Regístrate aquí.</a>
        </p>
        <p *ngIf="!sendPoints && !forgetPassword" class="pt-2 text-center">
            ¿Eres fundación? Conoce tus puntos acumulados. Consulta aquí
            <label for="sendPoints"><u class="cursorPointer">Consulta aquí</u></label>
            <input type="checkbox" id="sendPoints" class="d-none" name="sendPoints" [(ngModel)]="sendPoints" />
        </p>
        <div class="app-login--form blur" *ngIf="sendPoints && !forgetPassword">
            <label for="pointsEmail">Digita email registrado para saber tus puntos</label>
            <input
                type="text"
                id="pointsEmail"
                [(ngModel)]="pointsEmail"
                class="form-control mb-3"
                placeholder="Email"
            />
        </div>
        <div class="consult-point-btn"  *ngIf="sendPoints && !forgetPassword">
          <button (click)="sendPoints = false" class="btn btn-block text-white cancelBtn" >Cancelar</button>
          <button (click)="sendPointsService()" class="btn btn-block bgGreen app-login--submit" >Consultar</button>
        </div>
    </div>
</div>
