nav {
  padding-left: 1rem !important;
  padding-right: 1rem !important;
  padding-top: 15px !important;
  padding-bottom: 15px !important;
}

.navbar-collapse {
  justify-content: center;
}

.navbar-expand-lg .navbar-nav .nav-link.app-link {
  padding-left: 16px;
  padding-right: 16px;
  font-family: "Quicksand", Sans-serif;
  font-size: 12px;
  font-weight: 700;
  color: black;
}

.app-logo {
    width: 30px;
    height: 30px !important;
}

.app-footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    padding: 30px 15px 60px 15px;
    background-color: var(--gray);
    color: #fff;
}

.app-footer .container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.app-footer__logo {
    width: 150px;
    padding-bottom: 30px;
}

.navbar-nav--footer {
    flex-direction: row;
    margin-bottom: 20px;
    list-style-type: none;
}

.navbar-nav--footer .nav-link {
    padding: 0;
    padding-left: 10px;
    padding-right: 10px;
    color: #fff;
    border-right: 2px solid #fff;
}

.nav-item:last-child .nav-link {
    border: none;
}

.nav-item:hover {
  padding-bottom: 0px;
  color: var(--main-color) !important;
  border-bottom: 2px solid var(--main-color);
}

.active {
  color: var(--main-color) !important;
  border-bottom: 2px solid var(--main-color);
}

.app-footer__copyright {
    position: absolute;
    bottom: 0;
    text-align: center;
}

.app-footer__copyright a {
    color: #fff;
}


/*Foundation profile styles*/

.foundation-profile {
    position: relative;
    bottom: 90px;
}

.foundation-profile__img {
    width: 200px;
    height: 200px;
    display: flex;
    margin: 0 auto;
    border-radius: 50%;
}

.list-group-item--profile {
    padding: 18px;
    border: 1px solid rgba(0, 0, 0, .125);
    border-right: none;
    border-left: none;
}

.list-group-item--profile img {
    margin-right: 15px;
}

.list-group-item--profile a {
    color: var(--gray);
}

.list-group-item__active a {
    color: var(--main-color);
}


/*Login*/

.app-login {
    position: relative;
    width: 100%;
    height: calc(100vh);
    display: grid;
    grid-template-columns: 1fr 400px;
    align-items: center;
    padding: 1rem 9rem;
    color: #fff;
    background: url(assets/img/banner-fundacion-puntos-verdes-evento.jpg) no-repeat center bottom;
}

.app-login--business-mode {
    grid-template-columns: auto 1fr;
    grid-gap: 70px;
}

.app-login::before {
    content: "";
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.75);
}

.app-login__col {
    z-index: 2;
}

.app-login__title {
    font-size: var(--headline);
    font-family: 'Roboto';
    font-weight: bold;
}

.app-login__title span {
    padding: 0 8px;
    background-color: var(--main-color)
}

.app-login__sub {
    max-width: 350px;
}

.app-login--form {
    height: min-content;
    padding: 20px;
    padding-bottom: 30px !important;
    border-radius: var(--radiusAlt);
    background-color: var(--whiteLight);
}

.consult-point-btn {
  display: flex;
  align-content: center;
  align-items: center;
  justify-content: center;
  margin-top: 1.5rem;
  gap: 15px;
}

.cancelBtn {
  background-color: rgba(78, 75, 75, 0.993) !important;
  border-radius: 25px !important;
  -webkit-border-radius: 25px !important;
  -moz-border-radius: 25px !important;
  -ms-border-radius: 25px !important;
  -o-border-radius: 25px !important;
  font-weight: 700 !important;
}

.app-login--form h2 {
    text-align: center;
}

.app-login--form .input-group-prepend img {
    width: 15px;
}

.app-login--form .form-control {
    padding: 19px 10px;
    border: none;
    border-radius: 10px;
    height: 20px;
}

.app-login--form .input-group-prepend .input-group-text {
    background-color: #fff;
    border: none;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    border-top-right-radius: 0px;
    border-bottom-right-radius: 0px;
    height: 38px;
}

.app-login--submit {
    border-radius: var(--radiusAlt) !important;
    padding: 12px 10px;
}

.app-login--help {
    border-top: 1px solid rgba(106, 106, 106, 74%);
}

.app-login--help.no-border {
    border-top: none;
}


/*Business form register*/

.app-login--business-mode .input-group-prepend .input-group-text,
.custom-file-label::after,
.app-login--business-mode .custom-file-label {
    background-color: transparent;
    color: #fff;
}

.app-login--business-mode .custom-file-label {
    border: none;
    border-top-right-radius: 10px !important;
    border-bottom-right-radius: 10px !important;
}

.app-login--business-mode .input-group-prepend .input-group-text {
    padding: 0;
}

.app-login--business-mode .custom-file-input {
    cursor: pointer;
}

.app-login.app-login--business-mode .custom-file-label::after {
    content: "Examinar...";
}

.app-login.app-login--business-mode .custom-file-label {
    width: 46%;
}

.app-login--business-mode .col-attach {
    padding-left: 18px;
}

.app-login--business-mode .col-terms {
    padding-left: 38px !important;
}

.navbar-brand-mobile {
  display: none;
}

a {
  text-decoration: none !important;
}

.pa-2 {
  padding: 2rem !important;
}

@media (max-width: 800px) {
    .navbar-brand-mobile {
      display: inline;
    }

    .navbar-brand {
      display: none;
    }

    .navbar-nav--footer .nav-link {
        padding: 0 5px;
    }
    .app-login {
        height: 100vh;
        grid-template-columns: 1fr;
        padding: 4rem 1rem;
        background-size: cover;
    }
    .app-login--business-mode {
        grid-gap: 0;
        height: 160vh;
    }
    .app-login--business-mode .app-login--submit {
        position: initial;
    }
    .app-login--business-mode .app-login--submit,
    .app-login.app-login--business-mode .custom-file-label {
        width: 100%;
    }
    .app-login__title {
        font-size: var(--thirdTitle);
        text-align: center;
    }
    .app-login__sub {
      text-align: center !important;
    }
    .app-footer__copyright {
        padding: 0 15px;
    }
}
