<p-toast></p-toast>

<div class="card border-0">
    <p-toolbar styleClass="mb-4">
        <ng-template pTemplate="left">
            <button pButton pRipple label="Agregar fundación" class="btn bgGreen mr-2" (click)="openNew()"></button>
            <button pButton pRipple style="margin-left: 10px;" label="Exportar" class="btn bgGreen mr-2" (click)="export()"></button>
        </ng-template>
        <ng-template pTemplate="right">
            <button pButton pRipple label="Borrar puntos" class="btn bgGreen mr-2" (click)="borrarPuntos()"></button>
        </ng-template>
    </p-toolbar>

    <p-table #dt [value]="foundations" [rows]="10" [paginator]="true" [globalFilterFields]="['id', 'name','description','points', 'nit', 'email', 'ncontacto', 'cs.name', 'ods.name', 'departments.name', 'municipios.name']"
        [rowHover]="true" dataKey="id"
        currentPageReportTemplate="Mostrando {first} de {last} de {totalRecords} registros" [showCurrentPageReport]="true">
        <ng-template pTemplate="caption">
            <div class="d-flex align-items-center justify-content-between">
                <h5 class="m-0">Fundaciones</h5>
                <span class="p-input-icon-left">
                    <i class="pi pi-search"></i>
                    <input pInputText type="text" class="inputBuscador" (input)="dt.filterGlobal($event.target.value, 'contains')" placeholder="Buscar..." />
                </span>
            </div>
        </ng-template>
        <ng-template pTemplate="header">
            <tr>
                <th pSortableColumn="id">ID <p-sortIcon field="id"></p-sortIcon></th>
                <th pSortableColumn="name">Nombre <p-sortIcon field="name"></p-sortIcon></th>
                <th pSortableColumn="nit">NIT <p-sortIcon field="nit"></p-sortIcon></th>
                <th pSortableColumn="email">Email <p-sortIcon field="email"></p-sortIcon></th>
                <th pSortableColumn="points">
                    <center>
                        Puntos <p-sortIcon field="points"></p-sortIcon>
                    </center>
                </th>
                <th></th>
            </tr>
        </ng-template>
        <ng-template pTemplate="body" let-foundation>
            <tr>
                <td>{{ foundation.id }}</td>
                <td>{{ foundation.name }}</td>
                <td>{{ foundation.nit }}</td>
                <td>{{ foundation.email }}</td>
                <td>
                    <center>{{ foundation.points | thousandsPipe}}</center>
                </td>
                <!--<td>
                    <span *ngFor="let cs of foundation.cs">
                        {{ cs.name }}.
                    </span>
                </td>
                <td>
                    <span *ngFor="let ods of foundation.ods">
                        {{ ods.name }}.
                    </span>
                </td>
                <td>{{ foundation.departments.name }}</td>
                <td>{{ foundation.municipios.name | lowercase }}</td>-->
                <td>
                  <div class="dropdown">
                  <button pButton pRipple icon="pi pi-ellipsis-h" class="p-button-rounded p-button-primary mb-1" data-toggle="collapse" [attr.data-target]="'#options' + foundation.id" aria-controls="options" aria-expanded="false" data-bs-toggle="dropdown" aria-label="Toggle navigation"></button>
                      <div class="dropdown-menu" [id]="'options' + foundation.id" aria-labelledby="options">
                        <a class="dropdown-item" href="javascript:void(0);" (click)="showFoundations(foundation)">Ver</a>
                        <a class="dropdown-item" href="javascript:void(0);" (click)="editFoundations(foundation)">Editar</a>
                        <a class="dropdown-item" href="javascript:void(0);" (click)="deletePoints(foundation.id)">Borrar puntos</a>
                        <a class="dropdown-item" href="javascript:void(0);" (click)="deleteFoundations(foundation.id)">Eliminar</a>
                      </div>
                  </div>
                </td>
            </tr>
        </ng-template>
        <ng-template pTemplate="summary">
            <div class="p-d-flex p-ai-center p-jc-between">
                En total hay {{ foundations.length }} fundacion(es).
            </div>
        </ng-template>
    </p-table>
</div>

<p-dialog [(visible)]="foundationDialog" [style]="{width: '750px'}" header="Detalles de la fundación" [modal]="true" styleClass="p-fluid">
    <ng-template pTemplate="content">
        <div class="row">
            <div class="col-md-6">
                <div class="form-group p-field">
                    <label for="name">Nombre</label>
                    <input
                        type="text"
                        class="form-control"
                        id="name"
                        name="name"
                        pInputText
                        [(ngModel)]="foundation.name"
                        required
                    />
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-group p-field">
                    <label for="nit">NIT</label>
                    <input
                        type="text"
                        class="form-control"
                        id="nit"
                        name="nit"
                        pInputText
                        [(ngModel)]="foundation.nit"
                        required
                    />
                </div>
            </div>
        </div>
        <div class="form-group p-field mt-2">
            <label for="email">Email</label>
            <input
                type="text"
                class="form-control"
                id="email"
                name="name"
                pInputText
                [(ngModel)]="foundation.email"
                required
            />
        </div>
        <div class="form-group p-field mt-2">
            <label for="ncontacto">Teléfono</label>
            <input
                type="number"
                class="form-control"
                id="ncontacto"
                name="name"
                pInputText
                [(ngModel)]="foundation.ncontacto"
                required
            />
        </div>
        <div class="form-group p-field mt-2">
            <label for="description">Descripción</label>
            <textarea
                id="description"
                name="description"
                class="form-control"
                pInputTextarea
                [(ngModel)]="foundation.description"
                required
                rows="3"
                cols="20"
            ></textarea>
        </div>
        <div class="row mt-2">
            <div class="col-md-6">
                <div class="form-group p-field">
                    <label for="cs">Causa Social</label>
                    <p-multiSelect
                        [options]="cs"
                        [filter]="true"
                        [(ngModel)]="foundation.cs"
                        optionLabel="name"
                        name="cs"
                        placeholder="Selecciona Causa social"
                    ></p-multiSelect>
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-group p-field">
                    <label for="ods">ODS</label>
                    <p-multiSelect
                        [options]="ods"
                        [filter]="true"
                        [(ngModel)]="foundation.ods"
                        optionLabel="name"
                        name="ods"
                        placeholder="Selecciona ODS"
                    ></p-multiSelect>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12 mt-2">
                <div class="form-group">
                    <label for="departamento">Departamento</label>
                    <p-dropdown
                        [options]="departments"
                        [filter]="true"
                        [showClear]="true"
                        [(ngModel)]="foundation.departments"
                        optionLabel="name"
                        (onChange)="changeDepartments($event.value.code)"
                        name="departments"
                        placeholder="Selecciona un departamento"
                    ></p-dropdown>
                </div>
            </div>
            <div class="col-md-12 mt-2" *ngIf="nMunicipios">
                <div class="form-group">
                    <label for="municipio">Municipio</label>
                    <p-dropdown
                        [options]="municipios"
                        [filter]="true"
                        [showClear]="true"
                        [(ngModel)]="foundation.municipios"
                        optionLabel="name"
                        name="municipios"
                        placeholder="Selecciona un municipio"
                    ></p-dropdown>
                </div>
            </div>
        </div>
        <div class="form-group p-field mt-2">
            <label for="points">Puntos</label>
            <input
                type="number"
                [(ngModel)]="foundation.points"
                class="form-control"
                id="points"
                min="0"
                name="points"
                pInputNumber
            />
        </div>
    </ng-template>
    <ng-template pTemplate="footer">
      <button pButton pRipple label="Cancelar" icon="pi pi-times" class="p-button-text mt-2" (click)="hideDialog()"></button>
      <button pButton pRipple label="Guardar" icon="pi pi-check" class="p-button-text mt-2" (click)="saveFoundation()"></button>
    </ng-template>
</p-dialog>

<p-dialog [(visible)]="showDlg" [style]="{width: '750px'}" header="Información de la fundación" [modal]="true" styleClass="p-fluid">
    <ng-template pTemplate="content">
        <div class="row">
            <div class="col-md-6">
                <div class="form-group p-field">
                    <label for="name">Nombre</label>
                    <input
                        type="text"
                        class="form-control"
                        id="name"
                        name="name"
                        pInputText
                        [(ngModel)]="foundation.name"
                        required
                        readonly
                    />
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-group p-field">
                    <label for="nit">NIT</label>
                    <input
                        type="text"
                        class="form-control"
                        id="nit"
                        name="nit"
                        pInputText
                        [(ngModel)]="foundation.nit"
                        required
                        readonly
                    />
                </div>
            </div>
        </div>
        <div class="form-group p-field mt-2">
            <label for="email">Email</label>
            <input
                type="text"
                class="form-control"
                id="email"
                name="name"
                pInputText
                [(ngModel)]="foundation.email"
                required
                readonly
            />
        </div>
        <div class="form-group p-field mt-2">
            <label for="ncontacto">Teléfono</label>
            <input
                type="number"
                class="form-control"
                id="ncontacto"
                name="name"
                pInputText
                [(ngModel)]="foundation.ncontacto"
                required
                readonly
            />
        </div>
        <div class="form-group p-field mt-2">
            <label for="description">Descripción</label>
            <textarea
                id="description"
                name="description"
                class="form-control"
                pInputTextarea
                [(ngModel)]="foundation.description"
                required
                rows="3"
                cols="20"
                readonly
            ></textarea>
        </div>
        <div class="row mt-2">
            <div class="col-md-6">
                <div class="form-group p-field">
                    <label for="cs">Causa Social</label>
                    <p-multiSelect
                        [options]="cs"
                        [filter]="true"
                        [(ngModel)]="foundation.cs"
                        optionLabel="name"
                        name="cs"
                        placeholder="Selecciona Causa social"
                        readonly
                    ></p-multiSelect>
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-group p-field">
                    <label for="ods">ODS</label>
                    <p-multiSelect
                        [options]="ods"
                        [filter]="true"
                        [(ngModel)]="foundation.ods"
                        optionLabel="name"
                        name="ods"
                        placeholder="Selecciona ODS"
                        readonly
                    ></p-multiSelect>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12 mt-2">
                <div class="form-group">
                    <label for="departamento">Departamento</label>
                    <p-dropdown
                        [options]="departments"
                        [filter]="true"
                        [showClear]="true"
                        readonly
                        [(ngModel)]="foundation.departments"
                        optionLabel="name"
                        (onChange)="changeDepartments($event.value.code)"
                        name="departments"
                        placeholder="Selecciona un departamento"
                    ></p-dropdown>
                </div>
            </div>
            <div class="col-md-12 mt-2" *ngIf="nMunicipios">
                <div class="form-group">
                    <label for="municipio">Municipio</label>
                    <p-dropdown
                        [options]="municipios"
                        [filter]="true"
                        [showClear]="true"
                        [(ngModel)]="foundation.municipios"
                        optionLabel="name"
                        name="municipios"
                        placeholder="Selecciona un municipio"
                    ></p-dropdown>
                </div>
            </div>
        </div>
        <div class="form-group p-field mt-2">
            <label for="points">Puntos</label>
            <input
                type="number"
                [(ngModel)]="foundation.points"
                class="form-control"
                id="points"
                min="0"
                name="points"
                readonly
                pInputNumber
            />
        </div>
    </ng-template>
</p-dialog>

<p-confirmDialog [style]="{width: '750px'}"></p-confirmDialog>
