<div class="app-login">
    <div class="app-login__col">
        <h1 class="app-login__title">Inicia sesión y <br><span>únete al cambio</span></h1>
        <p class="app-login__sub">Empresas como la tuya contribuyen a la ayuda de muchas causas sociales en Colombia. ¡Gracias! </p>
    </div>
    <div class="app-login__col">
        <div class="app-login--form blur" *ngIf="!emailEnviado">
            <h2 class="pt-4 pb-3">Ingresa tu email</h2>
            <div class="input-group mb-3">
                <div class="input-group-prepend">
                    <span class="input-group-text" id="emailIcon"><img src="./assets/img/icon-user.svg"></span>
                </div>
                <input
                    type="text"
                    class="form-control"
                    placeholder="Usuario"
                    name="email"
                    [(ngModel)]="email"
                />
            </div>
            <button style="width: 100%" type="submit" (click)="sendEmail()" class="btn btn-block bgGreen app-login--submit">Enviar</button>
            <div class="form-group mt-3 form-check">
                <div class="row">
                    <div class="col">
                        <a routerLink="/login" class="white-link">Volver a inicio de sesión</a>
                    </div>
                </div>
            </div>
        </div>
        <div *ngIf="emailEnviado">
            <app-code-random [email]="email"></app-code-random>
        </div>
    </div>
</div>
