<nav class="navbar navbar-expand-lg navbar-light bg-light fixed-top" id="navbar">
  <div class="container">
    <a class="navbar-brand-mobile"><img src="./assets/img/Logo.png" class="app-logo"></a>
    <button (click)="doAlert()" class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav">
          <li class="nav-item" style="margin-top: -3px;">
            <a class="navbar-brand"><img src="./assets/img/Logo.png" class="app-logo"></a>
          </li>
            <li class="nav-item" *ngFor="let item of items">
                <a class="nav-link app-link" [target]="item.target" [href]="item.url">{{ item.label }}</a>
            </li>
            <li class="nav-item active">
                <a class="nav-link app-link" *ngIf="isLogged" href="javascript:void(0);" (click)="onLogout()">SALIR</a>
                <a class="nav-link app-link active" *ngIf="!isLogged" href="#">INICIAR SESIÓN</a>
            </li>
        </ul>
    </div>
  </div>
</nav>
